* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  color: #000;
}
body {
  min-height: 100vh;
  font-size: 1.5rem;
}
.login-pannel{
  min-height: 100vh;
  background-color: #fce5d7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-cont{
  width:400px;
  padding: 5px;
  text-align: center;
  background: #ffff;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.login-cont h1{
  padding-left:35px;
  font-size:26px;
  margin:10px auto;
  position: relative;
  color:#d98329;
  width: fit-content;
}
.login-cont h1::before{
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("./assets/images/lm-logo.png");
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}
.login-form{
  text-align: center;
}
.login-cont ul{
  list-style: none;
  padding:10px;
  text-align: left;
}
.login-cont li{
  margin: 0 0 30px 0;
  position: relative;
}
.login-cont li label{
  display: block;
  margin:5px 10px;
  font-size: 18px;
  color:#d95100;
}
.login-cont li input{
  width:90%;
  border:1px solid #d4d4d4;
  padding:8px 30px 8px 10px;
  border-radius:5px;
  margin:0 15px;
  outline: none;
}
.login-cont li input:focus{
  border: 1px solid #f99b61;
}

.error-msg{
  font-size:16px;
  display: none;
  padding-left:25px;
  color:#ff1515;
  width: fit-content;
  margin: 20px auto;
}
.error-msg.show{
  display: block;
  position:relative;
}
.error-msg.show::before{
  content: "";
  position: absolute;
  left:0;
  width:20px;
  height:20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("./assets/images/error-icon.png");
}
.toggle-btn{
  width:25px;
  height:25px;
  position: absolute;
  background-image: url("./assets/images/eye-icon.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  right:27px;
  bottom: 3px;
  border:none;
  outline:none;
  background-color: #ffff;
}
.toggle-btn::before{
  content:"";
  position: absolute;
  width:0;
  height:2px;
  background:#787878;
  transform: rotate(137deg);
  right:2px;
  bottom:11px;
  transition: .5s;
}
.toggle-btn.show::before{
    width:20px;
}
.login-cont .login-btn{
  width: 120px;
  margin:20px auto;
  display: block;
  border:none;
  cursor:pointer;
  border-radius:5px;
  padding:10px 25px;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 16px;
  background-color: #ffd7be;
  color: #dd6013;
}
.login-cont .login-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.lm-head{
    width:100%;
    text-align:center;
    display:flex;
    background-color: #ffede2;
    color: #fb890d;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding:20px 10px;
}
.lm-head h1{
  font-size: 28px;
  padding-left:40px;
  position:relative;
}
.lm-head h1::before{
  content:"";
  position: absolute;
  width: 40px;
  height:40px;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  background-image: url('./assets/images/lm-logo.png');
  background-size: 40px 40px;
}
.lm-cont{
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.login-link p{
  margin:0 25px;
}
.login-link p a,
.menu-bar li a{
  text-decoration: none;
  font-size:17px;
}
.login-link p a{
  padding-left:25px;
  position: relative;
  line-height: 20px;
  color: #fb890d;
}
.menu-bar{
  width:25px;
  height:25px;
  position:relative;
  margin:0 25px;
  cursor: pointer;
}
.menu-bar::before,
.menu-bar::after
{
  content: "";
  position: absolute;
  width:25px;
  height:3px;
  border-radius:5px;
  background-color: #fb890d;
  left:0;
  transform: rotate(0);
  transition: .5s;
}
.menu-bar::before{
  top:0;
  box-shadow: 0 7.5px #fb890d;
}
.menu-bar::after{
  top:15px;
}
.menu-bar.open::before{
    box-shadow: unset;
    transform: rotate(45deg);
    top:7.5px;
}
.menu-bar.open::after{
  box-shadow: unset;
  transform: rotate(-45deg);
  top:7.5px;
}
.menu-bar ul{
  position:absolute;
  background:#fff;
  height:0;
  max-width: 500px;
  left:0;
  min-width:150px;
  top:calc(100% + 5px);
  list-style: none;
  transition:0.5s;
  overflow: hidden;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.menu-bar.open ul{
  transition:0.5s;
  height:auto;
}
.menu-bar ul li{
  cursor:pointer;
  margin:5px;
  text-align: left;
  padding: 5px 10px;
  border-radius:5px;
  user-select: none;
}
.menu-bar ul li a{
  color:#454545;
  display: block;
}
.menu-bar ul li:hover{
  background-color: #e49768;
}
.menu-bar ul li:hover a{
  color:#ffff;
}
.logut-link{
  font-size:17px;
  padding-left: 25px;
  position: relative;
  line-height: 20px;
  color: #fb890d;
}
.login-link p a::before,
.logut-link::before{
  content:'';
  position: absolute;
  width:20px;
  height: 20px;
  background-size: 20px 20px;
  left:0;
  top:50%;
  transform:translateY(-50%);
}
.login-link p a::before{
  background-image: url('./assets/images/login-icon.png');
}
.logut-link::before{
  background-image: url('./assets/images/logout-icon.png');
}
@media (max-width:768px) {
  .lm-head h1{
    font-size: 24px;
  }
  .login-link p,
  .menu-bar{
    margin: 0 10px;
  }
}