* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --lite_blue:#cae2ff;
  --blue2_background:#2e8cff;
  --blue1_background:#4d5bf9;
  --text_white:#fff;
  --text_blue:#005bc8;
  --lite_grey:#f5f5f5;
  --table_title_clr:#0669e2;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  color: #000;
}
body {
  min-height: 100vh;
}
.main-cont{
  display:flex;
  padding: 20px 20px 20px 0;
  background-color: #fff;
  width:calc(100% - 320px);
  min-height:100vh;
  margin-left: 300px;
  border-radius:10px;
  background: var(--lite_grey);
}
.outlet-part{
  width:100%;
  padding:10px;
  display: block;
}
.login-pannel{
  min-height: 100vh;
  background-color:var(--lite_blue);
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-cont{
  width:400px;
  padding: 5px;
  text-align: center;
  background-color: var(--text_white);
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.login-cont h1{
  font-size:26px;
  margin:10px auto;
  position: relative;
  color:var(--blue1_background);
  width: fit-content;
}
.login-form{
  text-align: center;
}
.login-cont ul{
  list-style: none;
  padding:10px;
  text-align: left;
}
.login-cont li{
  margin: 0 0 30px 0;
  position: relative;
}
.login-cont li label{
  display: block;
  margin:5px 10px;
  font-size: 18px;
  color:var(--text_blue);
}
.login-cont li input{
  width:90%;
  border:1px solid #bddaff;
  padding:8px 30px 8px 10px;
  border-radius:5px;
  margin:0 15px;
  outline: none;
}
.login-cont li input:focus{
  border: 1px solid #5391e3;
}

.error-msg{
  font-size:16px;
  display: none;
  padding-left:25px;
  color:#ff1515;
  width: fit-content;
  margin: 20px auto;
}
.error-msg.show{
  display: block;
  position:relative;
}
.error-msg.show::before{
  content: "";
  position: absolute;
  left:0;
  width:20px;
  height:20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("./assets/images/error-icon.png");
}
.toggle-btn{
  width:25px;
  height:25px;
  position: absolute;
  background-image: url("./assets/images/eye-icon.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  right:27px;
  bottom: 3px;
  border:none;
  outline:none;
  background-color: #ffff;
}
.toggle-btn::before{
  content:"";
  position: absolute;
  width:0;
  height:2px;
  background:#787878;
  transform: rotate(137deg);
  right:2px;
  bottom:11px;
  transition: .5s;
}
.toggle-btn.show::before{
    width:20px;
}
.login-cont .login-btn{
  width: 120px;
  margin:20px auto;
  display: block;
  border:none;
  cursor:pointer;
  border-radius:5px;
  padding:10px 25px;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 16px;
  background-color: var(--lite_blue);
  color: var(--blue1_background);
}
.login-cont .login-btn:hover{
  background-color: var(--blue1_background);
  color: var(--text_white);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.lm-head{
position: fixed;
display: block;
top:20px;
left:20px;
bottom:20px;
width: 280px;
border-radius:10px;
background-color: var(--blue1_background);
color:var(--text_white);
}
.lm-head h1{
  font-size: 28px;
  padding:20px 10px 30px 50px;
  position:relative;
  display: block;
  margin: 0px auto;
  margin:10px 10px 0 10px;
}
.lm-head h1::before{
  content:"";
  position: absolute;
  width: 32px;
  height:40px;
  top: 20px;
  left:5px;
  background-image: url('./assets/images/lm-logo.png');
  background-size: 32px 40px;
}
.lm-cont{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
.u-name{
  display:block;
  position:relative;
  padding:20px;
  color:var(--text_white);
  font-size: 22px;
}
.u-name span{
  font-size: 20px;
  margin-right: 10px;
}
.u-name::before,
.u-name::after{
  content:"";
  position:absolute;
  width:100%;
  height:1px;
  background: linear-gradient(to right, #4d5bf9, #7c78fb, #a096fd, #bfb5ff, #dbd4ff, #dbd4ff, #dbd4ff, #dbd4ff, #bfb5ff, #a096fd, #7c78fb, #4d5bf9);
  left:0;
}
.u-name::before{
  top:0;
}
.u-name::after{
  bottom:0;
}
.auth-part{
  text-align: center;
  margin:15px 20px 15px 10px;
}
.auth-part p a,
.menu-bar li a{
  text-decoration: none;
  font-size:17px;
}
.auth-part p a{
  padding-left:25px;
  position: relative;
  line-height: 20px;
  color: #fb890d;
}
.action-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:calc(100% - 200px);
  flex: 1;
  margin:20px 0 20px 10px ; 
}
/*
.menu-bar{
  width:25px;
  height:25px;
  position:relative;
  margin:0 25px;
  cursor: pointer;
}

.menu-bar::before,
.menu-bar::after
{
  content: "";
  position: absolute;
  width:25px;
  height:3px;
  border-radius:5px;
  background-color: #fb890d;
  left:0;
  transform: rotate(0);
  transition: .5s;
}
.menu-bar::before{
  top:0;
  box-shadow: 0 7.5px #fb890d;
}
.menu-bar::after{
  top:15px;
}
.menu-bar.open::before{
    box-shadow: unset;
    transform: rotate(45deg);
    top:7.5px;
}
.menu-bar.open::after{
  box-shadow: unset;
  transform: rotate(-45deg);
  top:7.5px;
}*/
.menu-bar ul{
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
  left:0;
  list-style: none;
  transition:0.5s;
  border-radius:10px;
}
.menu-bar.open ul{
  transition:0.5s;
}
.menu-bar ul li{
  cursor:pointer;
  margin:5px 0 5px 5px;
  text-align: left;
  padding: 10px 0 10px 10px;
  border-radius:10px 0 0 10px;
  user-select: none;
  font-weight: 600;
  position: relative;
}
.menu-bar ul li span{
  position:relative;
  top:2px;
  font-size: 18px;
  margin-right: 10px;
}
.menu-bar ul li.active::before,
.menu-bar ul li.active::after,
.menu-bar ul li:hover::before,
.menu-bar ul li:hover::after{
  content: "";
  position: absolute;
  width:50px;
  height:20px;
  right:0;
  background: transparent;
}
.menu-bar ul li.active::before,
.menu-bar ul li:hover::before{
  bottom: 100%;
  border-bottom-right-radius: 25px;
  box-shadow: 9px 3px var(--lite_grey);
}
.menu-bar ul li.active::after,
.menu-bar ul li:hover::after{
  top: 100%;
  border-top-right-radius: 25px;
  box-shadow: 10px -3px var(--lite_grey);
}
.menu-bar ul li a{
  color:var(--text_white);
  font-size: 18px;
  display: block;
}
.menu-bar ul li.active,
.menu-bar ul li:hover{
  background-color: var(--lite_grey);
}
.menu-bar ul li.active a,
.menu-bar ul li:hover a{
  color:var(--blue1_background);
}
.active-box{
  background-color: #fff;
}
.logut-link{
  font-size:20px;
  position: relative;
  line-height: 25px;
  color: var(--text_white);
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
}
.logut-link span{
  position: absolute;
  top:3px;
  left:0;
  font-size: 22px;
  margin-right: 10px;
}
.auth-part p a::before{
  content:'';
  position: absolute;
  width:20px;
  height: 20px;
  background-size: 20px 20px;
  left:0;
  top:50%;
  transform:translateY(-50%);
}
.auth-part p a::before{
  background-image: url('./assets/images/login-icon.png');
}
.logut-link::before{
  background-image: url('./assets/images/logout-icon.png');
}
.add-plan-btn{
  display:block;
  width:135px;
  border-radius:5px;
  padding: 10px 15px;
  background-color: var(--blue1_background);
  color: var(--text_white);
  border: none;
  outline: none;
  letter-spacing: .5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-left:auto;
}
.AddPlan-cont{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  position:fixed;
  background-color: #00000080;
  top:0;
  left:0;
  z-index: 1;
}
.add-employee-box,
.add-plan-box,
.add-flat-box{
  width:95%;
  min-width:300px;
  max-width:500px;
  background-color: #fff;
  padding:10px;
  border-radius:10px;
  text-align: center;
  position: relative;
}
.add-employee-box h2,
.add-plan-box h2,
.add-flat-box h2{
  padding:10px 10px 10px 35px;
  font-size:22px;
  color:var(--text_blue);
  font-weight: 500;
  position:relative;
  width: fit-content;
  margin: 0px auto;
}
.add-employee-box h2::before,
.add-plan-box h2::before,
.add-flat-box h2::before{
  content: "";
  position: absolute;
  width:  30px;
  height: 30px;
  background-size: 30px 30px;
  left: 0;
  top:50%;
  transform: translateY(-50%);
}
.add-plan-box h2::before{
  background-image: url('./assets/images/plan-icon.png');
}
.add-employee-box h2::before{
  background-image: url('./assets/images/employee-icon.png');
}
.add-flat-box h2::before{
  background-image: url('./assets/images/flat-icon.png');
}
.add-plan-form ul{
  text-align: left;
  list-style: none;
  display: flex; 
  flex-direction: column;
  padding:10px;
  justify-content: space-around;
}
.add-plan-form ul li{
  display: flex; 
  align-items: center;
  padding:5px;
  margin: 5px 0;
}
.add-plan-form label{
  font-size:18px;
  padding:10px;
  display: block;
  width:180px;
}
.poup-input{
  display: flex;
  flex-direction: column;
  width:calc(100% - 180px);
  align-items: flex-start;
  position: relative;
}
.feature-cnt .Err-field,
.poup-input .Err-field{
  position:absolute;
  font-size: 13px;
  color:rgb(235, 0, 0);
  white-space:nowrap;
  font-weight: 600;
  letter-spacing: .5px;
  bottom:100%;
}
.add-plan-form ul li input,
.add-plan-form ul li select{
  height:28px;
  padding:5px 10px;
  width:100%;
  max-width: 250px;
  border-radius: 5px;
  outline: none;
  border:1.5px solid #9a9999;
}
.add-plan-form ul li select option{
  padding:5px 10px;
  height:20px;
}
.creat-plan-btn:disabled{
  opacity: .6;
}
.creat-plan-btn{
  width:155px;
  padding:10px;
  border-radius:5px;
  background-color: var(--lite_blue);
  border: none;
  outline: none;
  margin:0px auto;
  color:var(--text_blue);
  font-size: 16px;
  letter-spacing: .5px;
  cursor: pointer;
  font-weight: 500;
  opacity: 1;
}
select option{
  padding:10px;
}
.close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  width:25px;
  height:25px;
  border-radius: 50%;
  top:20px;
  right:20px;
  color:var(--text_blue);
  background-color: #ffff;
  cursor: pointer;
}
.close-btn:hover{
  border:1px solid var(--blue2_background); 
}
.creat-plan-btn:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.list-head{
  padding:5px 5px 5px 40px;
  color:var(--blue1_background);
  text-shadow: 2px 1px 4px #d4d4d4;
  position: relative;
  margin:0 20px;
}
.list-head span{
  position:absolute;
  top:7px;
  left:10px;
  font-size: 26px;
}
.table-part::-webkit-scrollbar {
  display: none;
}
.table-part{
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  margin:10px;
}
/*table{
  background: rgba(209, 230, 255, 0.91);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(209, 230, 255, 0.3);
}*/
table,td,th {
  border-collapse: separate;
  border-spacing: 0 15px;
}
table,th{
  padding:0 20px;
}
td{
  max-width: fit-content;
  padding:15px 20px;
}

thead th{
  position:sticky;
  top:0;
  text-align: left;
  color:var(--table_title_clr);
  font-size:20px;
  width:fit-content;
  white-space: nowrap;
}
td:not(:first-child){
  text-align: center;
}
tbody tr{
  font-size: 18px;
  border-radius: 5px;
}
tbody tr:nth-child(odd){
  border-radius: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
tbody tr:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: rgba(209, 230, 255, 0.91);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(209, 230, 255, 0.3);
}
.edit-btn,
.delete-btn{
  width:25px;
  height:25px;
  position:relative;
  font-size: 22px;
  color: var(--text_blue);
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
}
.successMsg{
  font-size:16px;
  margin:10px 0;
  padding:10px;
  background: linear-gradient(to right, #ffffff, #c0ffff,  #ffffff);
  color:#1d9494;
  cursor:pointer;
}
.del-btn{
  text-align:center;
}
.feature-part{
  display: flex;
  flex-direction: column;
}
.feature-box{
  width:250px;
  display: flex;
}
.feature-input-part{
  width: 100%;
  display: flex;
}
.feature-part label{
  position:relative;
  top:-10px;
}
.feature-cnt{
  position: relative;
}
.feature-box input{
  padding: 5px 28px 5px 10px !important;
}
.feature-box button{
  width: 25px;
  height: 26px;
  border-radius: 0 5px 5px 0;
  position: absolute;
  border:none;
  outline: none;
  background: var(--lite_blue);
  color: var(--text_blue);
  top:1px;
  right:1px;
  font-size: 18px;
  cursor: pointer;
}
.feature-box button:hover{
  background: var(--blue2_background);
  color: #ffff;
}
.fetaurs-Cont{
  width:100%;
  padding: 5px !important;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  flex-wrap: wrap;
  max-height: 125px;
  overflow-y: scroll;
  border-radius: 5px;
}
.fetaurs-Cont:has(li){
  border:1px dashed var(--blue2_background);
}
.fetaurs-Cont li{
  font-size: 14px;
  margin: 5px 4px !important;
  padding: 4px 35px 4px 8px !important;
  background-color: #fff;
  border-radius:10px;
  width: fit-content;
  background:linear-gradient(to right bottom, #bfdaff, #c1dbff, #c2dcff, #c4dcfe, #c5ddfe, #c5ddfe, #c5ddfe, #c5ddfe, #c4dcfe, #c2dcff, #c1dbff, #bfdaff);
  white-space: nowrap;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
}
.feature-tag button{
  position: absolute;
  width:18px;
  height:18px;
  border-radius:50%;
  right:5px;
  font-size:18px;
  background-color: #fff;
  color:var(--text_blue);
  border: none;
  outline: none;
  cursor: pointer;
}
.flat-part-cont{
  margin:10px;
  padding: 10px;
}

.flat-cont{
  padding:10px 5px;
  display:flex;
  flex-wrap: wrap;
}
.flat-card{
  font-size: 18px;
  margin:12px;
  padding: 10px;
  max-width: 250px;
  background-color: var(--text_white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border:1px solid #fff;
}
.flat-card:hover{
  border:1px solid #919aff;
}
.flat-preview{
  width: 225px;
  height: 200px;
  border-radius: 10px;
}
.flat-preview img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  border:5px solid #ffff;
}
.flat-detail{
  padding: 10px 5px;
  font-size: 17px;
}
.flat-detail ul{
  list-style: none;
}
.flat-detail ul li{
  margin: 5px 0;
}
.flat-detail ul li:not(:last-child){
  display: flex;
}
.flat-detail ul li p{
  font-size: 14px;
  word-wrap: break-word;
}
.flat-detail ul li span{
  width:110px;
  font-size: 16px;
  color: #0056bd;
}
.flat-detail ul li:last-child {
  margin:5px 0;
}
.flat-detail ul li:last-child span{
  display: block;
}
.flat-detail ul li:last-child p{
  padding: 5px;
}
@media (max-width:768px) {
  .lm-head h1{
    font-size: 24px;
  }
  .auth-part p,
  .menu-bar{
    margin: 0 10px;
  }
}